body,
html {
    padding: 0;
    margin: 0;
    font-family: monospace;
}

body {
    background-color: #1F2090;
    color: white;
    font-size: 1.5rem;
}

a {
    color: white;
}

li a {
    font-size: 2rem;
    text-decoration: none;
}

li a:hover {
    text-decoration: underline;
}

li {
    padding: 1rem;
}

header {
    padding: 2rem;
    background-color: #770000;
}

header h1 {
    font-size: 3rem;
}

.main {
    margin: 2rem;
}

.main h2 {
    font-size: 2.5rem;
}

.container {
    padding: 2rem;
}
.text-center{
    text-align: center;
}